.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion.question {
    margin-bottom: 4px;
}

.accordion.question:first-child {
    margin-top: 8px;
}

.category:not(:first-child) {
    margin-top: 32px;
}

.ck+.lb:after, .sp {
    background-image: url(../img/icon-s0a5857d10a.png);
}

.answer {
    color: #1b1b1b;
    font-size: 16px;
}

.answer p {
    margin: 16px 0;
}

.sub-title {
    border-radius: 15px 15px 0px 0px;
}

.container {
    border-radius: 10px;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

#not_found {
    display: none;
}